In [16]:
import json
import pandas as pd
import numpy as np
import re

In [17]:
file_path = 'ol_dump_editions_2024-12-19.txt'
data_list = []

In [18]:
file_path = 'ol_dump_editions_2024-12-19.txt'
output_csv = 'Openlibrary_isbn.csv'

In [19]:
isbn10_pattern = re.compile(r'"isbn_10":\s*\["(.*?)"\]')
isbn13_pattern = re.compile(r'"isbn_13":\s*\["(.*?)"\]')

isbn_list = []
line_count = 0  
isbn_count = 0  

with open(file_path, 'r', encoding='utf-8') as file:
    for line in file:
        line_count += 1

        isbn_10_match = isbn10_pattern.search(line)
        isbn_13_match = isbn13_pattern.search(line)

        isbn_10 = isbn_10_match.group(1) if isbn_10_match else "N/A"
        isbn_13 = isbn_13_match.group(1) if isbn_13_match else "N/A"

        if isbn_10 != "N/A" or isbn_13 != "N/A":
            isbn_list.append({'ISBN-10': isbn_10, 'ISBN-13': isbn_13})
            isbn_count += 1


print(f"Final count: {isbn_count:,} ISBNs extracted from {line_count:,} lines.")

Final count: 35,784,083 ISBNs extracted from 53,073,982 lines.

In [20]:
df = pd.DataFrame(isbn_list)
df.head()

      ISBN-10        ISBN-13
0  010836724X  9780108367243
1  0108368041  9780108368042
2  0108368661  9780108368660
3  0108623939  9780108623936
4  0761404147            N/A

In [21]:
df.to_csv(output_csv, index=False)